<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test - vue.js - energy rating</title>
</head>

<body>
    <div id="app">
        <energy preset="ges" v-model="ges"></energy>
        <energy preset="dpe" v-model="dpe"></energy>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    <script type="text/javascript" src="../dist/vue-js.energy.js"></script>
    <script type="text/javascript">
        (function () {
            new Vue({
                el: '#app',
                data:{
                    ges:10,
                    dpe:100
                }
            });
        })();
    </script>
</body>

</html>