<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test - vue.js - energy rating</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body>
    <div id="app">
        <input type="text" v-model="ges" placeholder="GES" />
        <energy preset="ges" v-model="ges"></energy>
        <input type="text" v-model="dpe" placeholder="DPE" />
        <energy preset="dpe" v-model="dpe"></energy>
        <input type="text" v-model="energy" placeholder="DPE" />
        <energy :settings="settings" v-model="energy"></energy>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    <script type="text/javascript" src="../dist/vue-js.energy.js"></script>
    <script type="text/javascript">
        (function () {
            new Vue({
                el: '#app',
                data:{
                    ges:10,
                    dpe:100,
                    settings:[
                        {color:'#f6eefd', letter:'A', legend:'<= 5', isValid:(i) => i <= 5},
                        {color:'#e0c2f8',letter:'B', legend:'6 to 10', isValid:(i) => i >= 6 && i <= 10},
                        {color:'#d4aaf6', letter:'C', legend:'11 to 20', isValid:(i) => i >= 11 && i <= 20},
                        {color:'#ff0000',letter:'D', legend:'21 to 35', isValid:(i) => i >= 21 && i <= 35},
                        {color:'#ba72ef',letter:'E', legend:'36 to 55', isValid:(i) => i >= 36 && i <= 55},
                        {color:'#a74deb',letter:'F', legend:'56 to 80', isValid:(i) => i >= 56 && i <= 80},
                        {color:'#8919df', text_color:'#fff', letter:'G', legend:'> 80', isValid:(i) => i > 80}
                    ],
                    energy:10
                    
                }
            });
        })();
    </script>
</body>

</html>